extends layout

block vars
    - var title = 'Контакты'

block head
    script(type='text/javascript', src='http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU')
    script(type='text/javascript', src='/javascripts/contacts.js')

block content
    #content
        .big-text
            h2 GingerBrandMan
        .block-content.map-block
            .info-content
                #map
        .block-content.contacts-block
            h4.title-white ООО «ДжинжерБрендМен»
            br
            h4 Адрес:
            p 105064, Россия, Москва, ул. Нижний Сусальный переулок, д. 5, строение 18
        .block-content.contacts-block
            h4 Телефон:
            p +7 495 783 25 58
        .block-content.contacts-block.email-block
            h4 E-mail:
            br
            .email-list
                ul
                    li
                        a(href='mailto:partner@gbm-mail.com') partner@gbm-mail.com
                        | Отдел франчайзинга
                    li
                        a(href='mailto:pr@gbm-mail.com') pr@gbm-mail.com
                        | Отдел маркетинга и рекламы
                    li
                        a(href='mailto:zakupki@gbm-mail.com') zakupki@gbm-mail.com
                        | Отдел закупок
                    li
                        a(href='mailto:info@gbm-mail.com') info@gbm-mail.com
                        | Общие вопросы
        .block-content.shops-block
            h4.title-white Кафе Tutti Frutti Frozen Yogurt на территории России и СНГ
            br
            ul
                // Use /_stuff/export_contacts_from_tf_site.js
                li
                    .title АТРИУМ
                    | Ул. Земляной вал, д. 33
                    br
                    | 1 этаж
                li
                    .title ТРЦ "Калейдоскоп"
                    | Ул. Сходненская, 56
                    br
                    | 3 этаж, рядом с кинотеатром
                li
                    .title ТРЦ "РИО" (Дмитровское ш.)
                    | Дмитровское ш., 163А
                    br
                    | 2 этаж, рядом с кинотеатром
                li
                    .title ТРЦ "РИО" (Ленинский пр-т)
                    | Ленинский пр-т, вл. 109
                    br
                    | 1 этаж, Атриум
                li
                    .title ТРЦ "Отрада"
                    | 7 км Пятницкого ш., вл. 2
                    br
                    | 1 этаж
                li
                    .title Арбат
                    | Ул. Арбат, д. 45/24
                li
                    .title ТЦ "Капитолий" (пр-т Вернадского)
                    | Пр-т Вернадского, д. 6, -1 этаж
                li
                    .title ТРЦ "Весна"
                    | 84 км. МКАД, 2 этаж, напротив кинотеатра
                li
                    .title ТРЦ "Золотой Вавилон" (Проспект мира)
                    | Проспект Мира, 211, корп. 2
                li
                    .title ТРЦ "Европейский"
                    | Пл. Киевского вокзала, д. 2
                    br
                    | 2 и 0 этажи
                li
                    .title "АФИМОЛЛ Сити"
                    | Пресненская наб., д. 2,
                    br
                    | 2 этаж рядом с кафе Шоколадница
                li
                    .title ТЦ "Охотный Ряд"
                    | Манежная пл., дом 1, стр. 2,
                    br
                    |  -3 этаж (левое крыло)
                li
                    .title Шереметьево D
                    | Аэропорт Шереметьево терминал D (внутренние авиалинии)
                li
                    .title ТРЦ "АвиаПарк"
                    | Хорошевское шоссе д. 38, стр. А
                    br
                    | 1 и 3 этажи
                li
                    .title ТРЦ "Вегас-2"
                    | Красногорск, 65-66 км. МКАД, 3 этаж, фуд-корт
                li
                    .title ТРЦ Мега_Самара
                    | Самара, Московское шоссе 24 км, д. 5
                li
                    .title ТРЦ Амбар
                    | Самара, Южное шоссе, д. 5
                li
                    .title ТРЦ "Сити Молл"
                    | Сургут, Югорский тракт, д. 38
                li
                    .title ТРЦ МЕГА
                    | Екатеринбург, ул. Металлургов, д. 87
                li
                    .title ТРЦ "GRAND PARK"
                    | Грозный, пр-т А. Кадырова, 40
                    br
                    | 3 этаж, зона кинотеатра
                li
                    .title Проспект Мира
                    | Владикавказ, Проспект Мира, д. 52
                li
                    .title ТРЦ MEGA Astana
                    | Астана (Казахстан), Коргальджинское шоссе, д. 1, 2 этаж, малый атриум
                li
                    .title ТРЦ "Хан Шатыр"
                    | Астана (Казахстан), Пр-т Туран, д. 37, 2 этаж

        .block-content.social-block
            a.fb(href='http://facebook.com/TuttiFruttiRussia', title='GingerBrandMan Facebook', target='_blank')
            a.vk(href='http://vk.com/tuttifruttirussia', title='GingerBrandMan ВКонтакте', target='_blank')
            a.insta(href='http://instagram.com/tuttifruttirussia', title='GingerBrandMan Instagram', target='_blank')
