extends layout

block vars
    - var title = 'Контакты'

block head
    script(type='text/javascript', src='http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU')
    script(type='text/javascript', src='/javascripts/contacts.js')

block content
    #content
        .big-text
            h2 GingerBrandMan
        .block-content.map-block
            .info-content
                #map
        .block-content.contacts-block
            h4.title-white ООО «ДжинжерБрендМен»
            br
            h4 Адрес:
            p 105064, Россия, Москва, ул. Нижний Сусальный переулок, д. 5, строение 18
        .block-content.contacts-block
            h4 Телефон:
            p +7 495 783 25 58
        .block-content.contacts-block.email-block
            h4 E-mail:
            br
            .email-list
                ul
                    li
                        a(href='mailto:partner@gbm-mail.com') partner@gbm-mail.com
                        | Отдел франчайзинга
                    li
                        a(href='mailto:pr@gbm-mail.com') pr@gbm-mail.com
                        | Отдел маркетинга и рекламы
                    li
                        a(href='mailto:zakupki@gbm-mail.com') zakupki@gbm-mail.com
                        | Отдел закупок
                    li
                        a(href='mailto:info@gbm-mail.com') info@gbm-mail.com
                        | Общие вопросы
        .block-content.shops-block
            h4.title-white Кафе Tutti Frutti Frozen Yogurt на территории России
            br
            ul
                li
                    .title АТРИУМ
                    | Ул. Земляной вал, д. 33
                    br
                    | 1 этаж
                li
                    .title ТРЦ "Калейдоскоп"
                    | Ул. Сходненская, 56
                    br
                    | 3 этаж, рядом с кинотеатром
                li
                    .title ТРЦ "РИО" (Дмитровское ш.)
                    | Дмитровское ш., 163А
                    br
                    | 2 этаж, рядом с кинотеатром
                li
                    .title ТРЦ "РИО" (Ленинский пр-т)
                    | Ленинский пр-т, вл. 109
                    br
                    | 1 этаж, Атриум
                li
                    .title Башня "Эволюция"
                    | Москва-Сити, м. Выставочная,
                    br
                    | выход из метро к мосту "Багратион"
                li
                    .title ТРЦ "Отрада"
                    | 7 км Пятницкого ш., вл. 2
                    br
                    | 1 этаж
                li
                    .title ул. Арбат
                    | Ул. Арбат, д. 45/24
                li
                    .title ТЦ "Капитолий" (пр-т Вернадского)
                    | Пр-т Вернадского, д. 6
                li
                    .title ТРЦ "Весна"
                    | 84 км. МКАД, 2 этаж, напротив кинотеатра
                li
                    .title ТРЦ "Золотой Вавилон" (Проспект мира)
                    | Ул. Проспект Мира, 211, корп. 2
                    br
                    | Скоро открытие!
                li
                    .title "АФИМОЛЛ Сити"
                    | Пресненская наб., д. 2
                    br
                    | Скоро открытие!
                li
                    .title ТРЦ "Вегас-2"
                    | г. Красногорск, 65-66 км. МКАД
                    br
                    | Скоро открытие!
                li
                    .title ТРЦ Мега_Самара
                    | г. Самара, Московское шоссе 24 км, д 5
                    br
                    | Скоро открытие!
                li
                    .title ТРЦ "GRAND PARK"
                    | г. Грозный, пр-т А. Кадырова, 40
                    br
                    | 3 этаж, зона кинотеатра
                    br
                    | Скоро открытие!
                li
                    .title ул. Проспект Мира
                    | г. Владикавказ, ул. Проспект Мира, д. 52
                    br
                    | Скоро открытие!
                li
                    .title ТРЦ MEGA Astana
                    | Коргальджинское шоссе, д. 1, 2 этаж, малый атриум


        .block-content.social-block
            a.fb(href='http://facebook.com/TuttiFruttiRussia', title='GingerBrandMan Facebook', target='_blank')
            a.vk(href='http://vk.com/tuttifruttirussia', title='GingerBrandMan ВКонтакте', target='_blank')
            a.insta(href='http://instagram.com/tuttifruttirussia', title='GingerBrandMan Instagram', target='_blank')
