extends layout

block vars
    - var title = 'Сотрудничество'

block content
    #content
        .center.msg.content-width
            | Мы никогда не останавливаемся на достигнутом,  мы находимся в непрерывном поиске – новых брендов, новых продуктов, новых поставщиков и новых идей.  Если у вас есть интересные предложения, касающиеся сотрудничества, пожалуйста, направляйте их по адресу:
            br
            a(href='mailto:partner@gbm-mail.com') partner@gbm-mail.com